body {
    margin: 0;
    overflow: hidden;
}

#box {
    position: relative;
    width: 1000px;
    height: 800px;
    border: 1px solid #000;
}

#square {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
}